<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Şifre Yenile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper">
<div class="center-div">
<h2>Şifre Yenile</h2>

<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>
<div th:if="${message}" class="info">
    <p th:text="${message}"></p>
</div>

<form th:action="@{/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}"/>
    <label for="password">Yeni Şifre:</label><br/>
    <input class="inputbox" type="password" id="password" name="password" required placeholder="New Password"/><br/><br/>

    <label for="confirmPassword">Şifre Tekrar:</label><br/>
    <input class="inputbox" type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confrim Password"/><br/><br/>

    <center><button class="button_css" type="submit">Şifreyi Güncelle</button></center>
</form>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>